front/android/.gradle/8.3/fileHashes/fileHashes.bin
front/.dart_tool/package_config_subset
front/.dart_tool/package_config_subset
front/.dart_tool/package_config_subset
front/.dart_tool/package_config.json
front/.dart_tool/dartpad/web_plugin_registrant.dart
front/.dart_tool/extension_discovery/vs_code.json
front/linux/flutter/generated_plugin_registrant.cc
front/linux/flutter/generated_plugin_registrant.h
front/linux/flutter/generated_plugins.cmake
front/macos/Flutter/GeneratedPluginRegistrant.swift
front/windows/flutter/generated_plugin_registrant.h
front/windows/flutter/generated_plugins.cmake
